<a href="https://colab.research.google.com/github/JoniGellatly/hello-world/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Joni Gellatly** - 2013336


###**CM3710 – Machine Learning and Artificial Intelligence**
###**Coursework Specification Part 2**

**Introduction**

Due to changing my job I no longer have access to the data I intended to use. I have now selected a dataset available to the public from 'Kaggle' which is called 'Stroke Prediction Dataset' and available from https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset. The dataset has 12 attributes and 5110 rows. The data set can be used to predict a patients chances of a stoke based on various parameters. The attributes for the data set are as follows;

1) id

2) gender

3) age

4) hypertension

5) heart_disease

6) ever_married

7) work_type

8) Residence_type

9) avg_glucose_level

10) bmi

11) smoking_status

12) stroke



**Dataset available from**


https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset/download?datasetVersionNumber=1

**Load and Pre-processing of dataset**

In [191]:
import pandas as pd #import numpy
df = pd.read_csv('healthcare-dataset-stroke-data.csv') #read file
df.head() #print top 5

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

We can see the data has some blanks (NaN)  shown above against the bmi.  We will need to inverstigate this further.  Firstly we will check to see how many rows and columns the dataset has and to ensure matches what we expected which is 5110 rows and 12 columns.

In [192]:
df.shape #shows number rows and columns

(5110, 12)

We will now check to see if there are any blanks in the dataset which could cause issues when we carry out algorithms later.

In [193]:
df.isna().sum() #identifies blanks within dataframe

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

We have identified 201 blanks against bmi. We can either replace the bmi with an average or remove from the dataframe I have chosen to remove the blanks.

In [194]:
df = df.dropna() #removes blanks
df.shape #shows how many rows and columns left after removing blanks

(4909, 12)

We can see from above that 201 rows of data have succefully been removed.  We can view the dataframe and visually check the data against ID. 1 has been removed.  I will then check to see if there are any duplicate entries.

In [195]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [211]:
df.duplicated().sum() #shows duplicates

0

No duplicates showing so no need to remove.  We can now have a look at the data and see how many patients had a stroke (1) or if not(0).  We can see the majority did not have a stroke.  We can now implement some algorithms but firstly we will need to check the data types as they will need to be integers and drop some data we do not want to use.

In [197]:
df['stroke'].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

In [206]:
df['gender'].value_counts()

 1    2897
 0    2011
-1       1
Name: gender, dtype: int64

In [198]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [212]:
df['gender'] = df['gender'].replace({'Female': 1,'Male': 0, 'Other': -1})
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,1,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,0,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,1,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,1,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,1,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,1,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [225]:
df_stroke = df['stroke']
df_stroke

0       1
2       1
3       1
4       1
5       1
       ..
5104    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 4909, dtype: int64

Implementing kNN in sci-kit learn

In [229]:
from sklearn.model_selection import StratifiedKFold #cross fold is sometimes called k-fold. Calling the stratified version ensures that classes have equal representation across folds
from sklearn.metrics import accuracy_score #import an accuracy metric to tell us how well the model is doing

acc_score = [] #create a list to store the accuracy values
model = KNeighborsClassifier(n_neighbors=1, weights = 'distance') #instantiate the model

df_stroke = StratifiedKFold(n_splits=5) #we instantiate the kfold instance, and set the number of folds to 5
for train, test in df_stroke.split(x,y): #we use a for loop to iterate through each fold using the train and test indexes from the dataset

  x_train, x_test, y_train, y_test = x[train], x[test], y[train], y[test] #things can get a bit weird when inputting indexes to functions, so lets save them as variables
  #print(train)
  #print(test) #this will print the train and test indexes respectively, if you want to be sure they do not overlap

  model.fit(x_train, y_train) #we then only fit the training data
  predictions = model.predict(x_test) #and can predict on the test data
  acc = accuracy_score(predictions, y_test) #we use the accuracy score we imported to give an idea how well the model is doing
  acc_score.append(acc) #we can append it to our list

print(acc_score) #wowza, looks ike it's pretty good!

NameError: ignored

We can now visualise this.